.login-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 420px;
  background: #374046;
  margin-top: 220px;
  border-radius: 8px;
}

.login-top-container {
  padding: 32px 32px 60px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
}

.login-subheader {
  text-align: center;
  margin-bottom: 28px;
  opacity: 50%;
}

.login-field {
  color: inherit;
  padding: 12px 18px;
  box-sizing: border-box;
  margin: 14px 0px;
  font-size: 16px;
  background: #3a434b;
  border: none;
}

.login-field::placeholder {
  color: inherit;
}

.login-submit-container {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  border-top: 1px solid #262c30;
}

.login-button {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
}

.login-error {
  border: 1px solid #c26e78;
  color: white;
  background: #b46f76;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 12px;
}
